In [7]:
import psycopg2
conn = psycopg2.connect(database="krilo", user="krilo", password="", host="localhost")

In [8]:
cursor = conn.cursor()

In [9]:
cursor.execute("select * from purchases")
for row in cursor:
    print row

(1, 4, 1)
(2, 5, 1)
(3, 6, 1)
(4, 1, 3)
(5, 3, 5)
(6, 2, 5)
(7, 4, 2)
(8, 2, 4)
(9, 3, 4)
(10, 6, 5)

In [15]:
import pandas as pd
from pandas import Series, DataFrame
from pandas.io.sql import read_sql

In [16]:
df = pd.DataFrame()
rows = [tuple(x) for x in df.values]

In [17]:
purchases_df = read_sql("select * from purchases",conn)
purchases_df

   id  item_id  customer_id
0   1        4            1
1   2        5            1
2   3        6            1
3   4        1            3
4   5        3            5
5   6        2            5
6   7        4            2
7   8        2            4
8   9        3            4
9  10        6            5

In [18]:
cursor.close()